# Ai picture transfer by ty
*.DS_Store
*.swp
*.pyc
*.pth

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/out/production/resources/application.yml
/.gradle/8.0/checksums/checksums.lock
/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.0/executionHistory/executionHistory.bin
/.gradle/8.0/executionHistory/executionHistory.lock
/out/production/resources/mapper/favorite.xml
/out/production/classes/com/back/miru/controller/FavoriteController.class
/out/production/classes/com/back/miru/model/dao/FavoriteDAO.class
/out/production/classes/com/back/miru/model/dto/FavoritePicture.class
/out/production/classes/com/back/miru/model/service/FavoriteService.class
/out/production/classes/com/back/miru/model/service/FavoriteServiceImpl.class
/out/production/classes/com/back/miru/model/dto/FavoriteUser$FavoriteUserBuilder.class
/out/production/classes/com/back/miru/model/dto/FavoriteUser.class
/.gradle/8.0/fileHashes/fileHashes.bin
/.gradle/8.0/fileHashes/fileHashes.lock
/.gradle/8.0/dependencies-accessors/gc.properties
/.gradle/8.0/gc.properties
/out/production/classes/com/back/miru/model/dto/Interest.class
/out/production/classes/com/back/miru/interceptor/JwtInterceptor.class
/out/production/classes/com/back/miru/model/service/JwtService.class
/out/production/classes/com/back/miru/model/service/JwtServiceImpl.class
/.gradle/8.0/fileChanges/last-build.bin
/out/production/classes/com/back/miru/model/dto/ListParameterDto.class
/.gradle/8.0/checksums/md5-checksums.bin
/out/production/classes/com/back/miru/MiruApplication.class
/out/production/classes/com/back/miru/model/dto/Picture.class
/out/production/resources/mapper/picture.xml
/out/production/classes/com/back/miru/controller/PictureController.class
/out/production/classes/com/back/miru/model/dao/PictureDAO.class
/out/production/classes/com/back/miru/model/service/PictureService.class
/out/production/classes/com/back/miru/model/service/PictureServiceImpl.class
/.gradle/8.0/fileHashes/resourceHashesCache.bin
/.gradle/8.0/checksums/sha1-checksums.bin
/out/production/classes/com/back/miru/config/SwaggerConfiguration.class
/out/production/classes/com/back/miru/ai/TransformPainting.class
/out/production/classes/com/back/miru/exception/UnauthorizedException.class
/out/production/classes/com/back/miru/model/dto/User.class
/out/production/resources/mapper/user.xml
/out/production/classes/com/back/miru/controller/UserController.class
/out/production/classes/com/back/miru/model/dao/UserDAO.class
/out/production/classes/com/back/miru/model/service/UserService.class
/out/production/classes/com/back/miru/model/service/UserServiceImpl$1.class
/out/production/classes/com/back/miru/model/service/UserServiceImpl.class
